body
{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
}

#board {
  padding-left: 100px;
  padding-top: 140px;
  min-width: 610px;
}
.cell_input,
.rule {
  font-family: monospace;
}
.cell_input {
  width: 24px;
  font-size: 24px;
  text-align: center;
  padding: 0 2px;
  margin: 1px;
  border: 1px none #AAA;
  background: rgba(0, 0, 0, 0);
  outline: none;
  -opacity: 0.9;
}
.cell {
  overflow: hidden;
  display: inline-block;
  width: 40px;
  height: 50px;
  background: url('hex.png');
  margin-right: -1px;
  margin-left: -1px;
  margin-bottom: -18px;
  margin-top: -12px;
  padding-top: 8px;
  background-repeat: no-repeat;
}
.rule_y {
}
.rule_x {
  display: inline-block;
  transform:rotate(-60deg);
  -ms-transform:rotate(-60deg); /* IE 9 */
  -moz-transform:rotate(-60deg); /* Firefox */
  -webkit-transform:rotate(-60deg); /* Safari and Chrome */
  -o-transform:rotate(-60deg); /* Opera */
}

.rule_z {
  transform:rotate(60deg);
  -ms-transform:rotate(60deg); /* IE 9 */
  -moz-transform:rotate(60deg); /* Firefox */
  -webkit-transform:rotate(60deg); /* Safari and Chrome */
  -o-transform:rotate(60deg); /* Opera */
}

.top, .bottom {
  width: 38px;
}
.leftside {
  right: 5px;
  top: -1px;
}
.side {
  left: 2px;
  top: 0px;
}
.rule.side {
  width: 37px;
}
.side.rule_x {
  left: 0px;
  top: -6px;
}
.side.rule_z {
  left: 3px;
  top: 3px;
}
.top {
  bottom: 6px;
}
.bottom {
  top: 3px;
  left: 12px;
}

.rule_parent {
  position: relative;
  display: inline-block;
  height: 24px;
  border-color: red;
}
.rule {
  position: absolute;
  font-size: 16px;
  display: inline-block;
  white-space: nowrap;
}

.match {
  color: #080;
}
.nomatch {
  color: #B00;
}

span {
  -border: 1px dotted black;
}

#debug {
  display: none;
}

.active-rule {
  font-weight: 700;
}
.active-rule:before, .active-rule:after {
  content: '/';
  color: #333;
}

.cell_input:focus {
  border-radius: 50px;
  background: #eee;
}