body
{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
}

#board {
  padding-left: 200px;
  padding-top: 150px;
}
.cell_input,
.rule {
  font-family: monospace;
}
.cell_input {
  width: 24px;
  font-size: 24px;
  text-align: center;
  padding: 0 2px;
  margin: 1px;
  border: 1px none #AAA;
  background: rgba(0, 0, 0, 0);
  outline: none;
  -opacity: 0.9;
}
.highlighted-cell {
  border: 1px dashed;
  border-color: rgba(0,0,0, 0.5);
  border-radius: 100%;
}
.cell {
  overflow: hidden;
  display: inline-block;
  width: 40px;
  height: 50px;
  background: url('hex.png');
  margin-right: -1px;
  margin-left: -1px;
  margin-bottom: -18px;
  margin-top: -10px;
  padding-top: 8px;
  background-repeat: no-repeat;
}
.rule_y {
}
.rule_x {
  display: inline-block;
  transform:rotate(-60deg);
  -ms-transform:rotate(-60deg); /* IE 9 */
  -moz-transform:rotate(-60deg); /* Firefox */
  -webkit-transform:rotate(-60deg); /* Safari and Chrome */
  -o-transform:rotate(-60deg); /* Opera */
}

.rule_z {
  transform:rotate(60deg);
  -ms-transform:rotate(60deg); /* IE 9 */
  -moz-transform:rotate(60deg); /* Firefox */
  -webkit-transform:rotate(60deg); /* Safari and Chrome */
  -o-transform:rotate(60deg); /* Opera */
}

.top, .bottom {
  width: 38px;
}
.leftside {
  right: 5px;
  top: 3px;
}
.side {
  left: 2px;
  top: 0px;
}
.rule.side {
  width: 37px;
}
.top {
  bottom: 6px;
}
.bottom {
  top: 6px;
}

.rule_parent {
  position: relative;
  display: inline-block;
  height: 24px;
  border-color: #E66100;
}
.rule {
  position: absolute;
  font-size: 16px;
  display: inline-block;
  white-space: nowrap;
}

.colorblind .match {
  color: #5D3A9B;
  font-weight: bold;
}
.colorblind .nomatch {
  color: #E66100;
}
.match {
  color: #484;
  font-weight: bold;
}
.nomatch {
  color: #F44;
}
.highlighted {
  text-decoration: underline;
}

span {
  -border: 1px dotted black;
}

#debug {
  display: none;
}
